@model List<CoreAndFood.Data.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category List</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>CATEGORY NAME</th>
        <th>UPDATE</th>
        <th>DELETE</th>
    </tr>
    @foreach (var X in Model)
    {
        <tr>
            <td>@X.CategoryID</td>
            <td>@X.CategoryName</td>
            <td><a href="#" class="btn btn-danger">Delete</a></td>
            <td><a href="#" class="btn btn-success">Update</a></td>
        </tr>
    }

</table>
<a href="/Category/CategoryAdd" class="btn btn-primary">New Category</a>